# python
__pycache__/
**/__pycache__/
*.pyc

# build files
build/
dist/

# runtime data
sessions/*.json

# installer / executables
*.exe
*.pkg
*.msi

# pyinstaller metadata
*.manifest
*.spec.bak

# logs
*.log

# vscode
.vscode/

# datasets (optional if heavy)
*.csv
*.xlsx
